html {
  font-size: 13px;
}

.bg-light {
  background: #3366cc !important;
}

.navbar-nav a {
  color: white !important;
}

.sub-menu {
  padding: 35px 15px;
}

.header-ico-minagricultura {
  border-left: 1px solid #069169;
  padding-left: 12px;
  margin-left: 12px;
}

.breadcrumb {
  margin-top: 25px;
  background-color: white;
  font-family: "Work Sans", sans-serif;
  color: #069169;
}

.breadcrumb .active {
  color: #069169 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #6c757d;
  content: ">" !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-base {
  background-color: #069169;
  color: white;
  min-width: 125px;
  padding: 5px 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-base:hover {
  background-color: #0d5850;
  color: white;
}

.btn-base i {
  padding-left: 15px;
  font-size: 1.4rem;
}

.btn-contorno-base {
  background-color: white;
  border: 1px solid #069169;
  padding: 5px 15px;
  color: #069169;
  min-width: 125px;
}

.btn-contorno-base:hover {
  background-color: #069169;
  color: white;
}

.btn-link {
  color: #069169;
  text-decoration: underline;
}

.btn-link:hover {
  color: #0d5850;
}

.btn-circular {
  position: relative;
  background-color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 23px;
  border: 1px solid #069169;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.btn-circular:hover {
  background-color: #069169;
  border: 1px solid white;
}

.btn-circular:hover i {
  color: white;
}

.btn-circular i {
  color: #069169;
  font-size: 1.5rem;
}

.btn-circular span {
  position: absolute;
  top: -4px;
  right: -7px;
  background: #a80521;
  color: white;
  padding: 0 3px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.tooltip-inner {
  background-color: #d8d8d8;
  opacity: 1;
  color: #484848;
  font-weight: 600;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #d8d8d8 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #d8d8d8 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #d8d8d8 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #d8d8d8 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b !important;
}

p {
  color: #4b4b4b;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
}

label {
  color: #4b4b4b;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.badge-base {
  color: #006850;
  border: 2px solid #e4f0ed;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  padding: 4px 8px;
  min-width: 90px;
  border-radius: 150px;
  margin-right: 10px;
  font-weight: 500;
}

.badge-card {
  background-color: #f1c158;
  color: #573f0c;
  border: 2px solid #f1c158;
  font-size: 0.9rem;
  font-family: "Work Sans", sans-serif;
  padding: 4px 8px;
  min-width: 90px;
  border-radius: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.card-info-predial {
  background-color: #e4f0ed;
  border-radius: 0.25rem;
  padding: 20px;
}

.card-info-predial h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.card-info-predial .border-card-predial {
  border-left: 1px solid #c1c1c1;
}

.card-info-predial p {
  color: #4b4b4b;
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
}

.card-info-predial p span {
  font-weight: 500;
}

.card-info-predial a {
  text-transform: uppercase;
  padding-right: 15px;
}

.card-familiar {
  background-color: #e4f0ed;
  border-radius: 0.25rem;
  padding: 20px;
}

.card-familiar h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.card-familiar .border-card-predial {
  border-left: 1px solid #c1c1c1;
}

.card-familiar p {
  color: #4b4b4b;
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
}

.card-familiar p span {
  font-weight: 500;
}

.card-familiar a {
  text-transform: uppercase;
  padding-right: 35px;
}

.card-sin-encontrar {
  padding: 30px 15px;
  -webkit-box-shadow: 0px 5px 2px 0px rgba(206, 208, 209, 0.78);
  box-shadow: 0px 5px 2px 0px rgba(206, 208, 209, 0.78);
  border: 1px solid rgba(0, 0, 0, 0.025);
}

.card-sin-encontrar h3 {
  margin-bottom: 15px;
}

.card-sin-encontrar p {
  margin-bottom: 0;
}

.card-beneficios {
  padding-right: 0;
  margin-bottom: 50px;
  border-radius: 0.5rem;
}

.card-beneficios .card {
  border-radius: 9px;
  overflow: hidden;
  border: 1px solid #e4f0ed;
}

.card-beneficios .card-body {
  padding: 15px 25px 35px 25px;
  border: 1px solid #e4f0ed;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.card-beneficios .card-body .badge-base {
  margin-bottom: 10px;
}

.card-beneficios .card-body a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-beneficios .card-body p {
  font-size: 0.9rem;
  color: #707070;
  font-weight: 500;
}

.card-beneficios:hover .card {
  -webkit-box-shadow: 0px 4px 0px 0px #d4e9e5;
  box-shadow: 0px 4px 0px 0px #d4e9e5;
}

.card-beneficios:hover .card-body {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border: 1px solid #069169;
  border-top: 1px solid #e4f0ed;
}

.card-usuario-institucional {
  padding-right: 0;
  margin-bottom: 50px;
  border-radius: 0.5rem;
}

.card-usuario-institucional .card {
  border-radius: 9px;
  overflow: hidden;
}

.card-usuario-institucional .card-body {
  padding: 20px 25px 20px 35px;
  border: 1px solid #e4f0ed;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.card-usuario-institucional .card-body a {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-usuario-institucional:hover .card {
  -webkit-box-shadow: 0px 4px 0px 0px #d4e9e5;
  box-shadow: 0px 4px 0px 0px #d4e9e5;
}

.card-usuario-institucional:hover .card-body {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border: 1px solid #069169;
  border-top: 1px solid #e4f0ed;
}

.modal-content .modal-header {
  border-bottom: 1px solid white;
}

.modal-content .modal-footer {
  border-top: 1px solid white;
}

.modal-header {
  height: 0;
}

.background-ico-info {
  margin: 0 auto;
}

.background-ico-info i {
  color: #ffab00;
  font-size: 3rem;
}

.background-ico-check {
  margin: 0 auto;
}

.background-ico-check i {
  color: #069169;
  font-size: 3rem;
}

.background-ico-cancel {
  margin: 0 auto;
}

.background-ico-cancel i {
  color: #a80521;
  font-size: 3rem;
}

.modal-body {
  padding: 40px;
}

.alert {
  margin-bottom: 0;
}

.alert-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #069169;
}

.alert-check p {
  color: #069169;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-left: 15px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.alert-check i {
  color: #069169;
  font-size: 2rem;
}

.alert-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #f1c158;
  background: white;
}

.alert-info p {
  color: #f1c158;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-left: 15px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.alert-info i {
  color: #f1c158;
  font-size: 2rem;
}

.alert-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #a80521;
  background: white;
}

.alert-cancel p {
  color: #a80521;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-left: 15px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.alert-cancel i {
  color: #a80521;
  font-size: 2rem;
}

.contenedor-buscador input {
  border-radius: 25px;
  position: relative;
  height: 40px;
  padding-left: 25px;
  padding-right: 45px;
  border: 2px solid #e4f0ed;
  -webkit-box-shadow: 0px 4px 0px 0px #d4e9e5;
  box-shadow: 0px 4px 0px 0px #d4e9e5;
}

.contenedor-buscador .btn-circular {
  background: #069169;
  border-radius: 20px;
  position: absolute;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  bottom: 18px;
}

.contenedor-buscador .btn-circular i {
  color: white;
  font-size: 1.4rem;
}

.contenedor-buscador .btn-circular:hover {
  border: 1px solid #069169;
  background-color: #0d5850;
}

select {
  position: relative;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.invalid-feedback {
  color: #a80521;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
}

.text-error {
  color: #a80521;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border: 1px solid #a80521;
}

input::-webkit-input-placeholder {
  font-family: "Work Sans", sans-serif;
  color: #bababa;
}

input:-ms-input-placeholder {
  font-family: "Work Sans", sans-serif;
  color: #bababa;
}

input::-ms-input-placeholder {
  font-family: "Work Sans", sans-serif;
  color: #bababa;
}

input::placeholder {
  font-family: "Work Sans", sans-serif;
  color: #bababa;
}

.form-control.is-invalid {
  background-image: none;
}

select {
  background-position: center right calc(1em + 0.1875rem) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select option {
  padding: 5px !important;
}

select::-ms-expand {
  display: none;
  /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.container-select {
  position: relative;
}

.container-select i {
  position: absolute;
  font-size: 1.2rem;
  right: 15px;
  bottom: 5px;
  color: #069169;
}

.form-check-label {
  padding-left: 5px;
  padding-top: 1px;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 5px;
  background-clip: content-box;
  border: 1px solid #069169;
  border-radius: 50%;
}

.form-check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="radio"]:checked + label:before {
  background-color: #069169;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"] + label:before {
  border: 1px solid #069169;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: top;
}

input[type="checkbox"]:checked + label:before {
  background: #069169;
  color: white;
  content: "\2713";
  text-align: center;
}

.date-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-group span {
  color: #0d5850;
  position: absolute;
  right: 20px;
  bottom: 0;
}

table th,
table td {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

table th a,
table td a {
  text-transform: uppercase;
}

table .thead {
  background: #dfebe9;
}

table thead {
  color: #069169;
}

table thead th {
  font-weight: 500;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f8f9;
}

.table-hover tbody tr:hover {
  background-color: #d5f3ee;
}

.dataTables_wrapper .paging_simple_numbers ul {
  justify-items: flex-start;
}

.dataTables_wrapper .paging_simple_numbers ul li a {
  color: #069169;
}

.dataTables_wrapper .paging_simple_numbers ul li .page-link {
  border: none;
  color: #069169;
  background: white;
}

.dataTables_wrapper .paging_simple_numbers ul .active {
  font-weight: 600;
}

table.dataTable thead .sorting_desc:before {
  opacity: 0;
}

table.dataTable thead .sorting_asc:after {
  opacity: 0;
}

table.dataTable thead .sorting:before {
  opacity: 0;
}

.tabs-custom .nav-tabs {
  border-bottom: none;
}

.tabs-custom li {
  width: calc(100% / 4);
}

.tabs-custom li a {
  font-family: "Montserrat", sans-serif;
  color: #069169;
}

.tabs-custom .nav-tabs .nav-item {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
}

.tabs-custom .nav-tabs .nav-item.show .nav-link,
.tabs-custom .nav-tabs .nav-link.active {
  font-family: "Montserrat", sans-serif;
  color: #069169;
  background-color: #dbe6e4;
  border-bottom: 2px solid #069169;
  font-weight: 600;
  border-radius: 0;
}

.tabs-custom nav a {
  font-family: "Montserrat", sans-serif;
  color: #069169;
  padding: 10px;
}

.tabs-custom .tab-content {
  display: block;
  border-left: 1px solid #dfebe9;
  border-bottom: 1px solid #dfebe9;
  border-right: 1px solid #dfebe9;
  padding: 25px;
}

#accordion {
  margin-bottom: 35px;
}

#accordion .panel-default {
  padding: 20px;
  border: 1px solid #e4f0ed;
  background: #f2f2f2;
}

#accordion .panel-default a {
  font-family: "Montserrat", sans-serif;
  color: #069169;
}

#accordion .panel-body {
  border-top: 2px solid #6db19d;
  padding-top: 10px;
  background: white;
  padding: 15px 5px;
}

#accordion .panel-body p {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .smartwizard {
    border: none;
  }
  .smartwizard ul li {
    width: 15px;
    height: 30px;
  }
  .smartwizard ul li p {
    border-radius: 6px;
  }
  .smartwizard ul li span {
    color: #0d5850;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    padding-left: 0;
  }
  .smartwizard ul li:last-child .nav-link.active::after {
    background: none !important;
    border: 0;
  }
  .smartwizard ul li:last-child .nav-link.done::after {
    background: none !important;
    border: 0;
  }
  .smartwizard ul li:last-child .nav-link::after {
    background: none !important;
    border: 0;
  }
  .sw-theme-default > .nav .nav-link.active {
    border: 15px;
    cursor: pointer;
  }
  .sw-theme-default > .nav .nav-link.active p {
    background: #006850 !important;
    color: white !important;
    margin-bottom: 0;
    width: 24px;
    height: 25px;
  }
  .sw-theme-default > .nav .nav-link.inactive span {
    color: #0d5850 !important;
  }
  .sw-theme-default > .nav .nav-link.inactive p {
    color: #0d5850;
    margin-bottom: 0;
    font-weight: 600;
    width: 24px;
    height: 22px;
    border: 1px solid #e4f0ed;
    text-align: center;
  }
  .sw-theme-default > .nav .nav-link.done span {
    color: #bababa !important;
  }
  .sw-theme-default > .nav .nav-link.done p {
    background-color: #bababa;
    color: white;
    margin-bottom: 0;
  }
  .sw-theme-default > .nav .nav-link.active::after {
    border: 1px solid #e4f0ed;
    background: white !important;
    height: 7px;
    position: absolute;
    top: 14px;
    right: 91px;
    z-index: -1;
    margin-left: 13px;
  }
  .sw-theme-default > .nav .nav-link.done::after {
    border: 1px solid #e4f0ed;
    background: #bababa !important;
    height: 7px;
    position: absolute;
    top: 14px;
    right: 91px;
    z-index: -1;
    margin-left: 13px;
  }
  .sw-theme-default > .nav .nav-link::after {
    border: 1px solid #e4f0ed;
    background: white !important;
    height: 7px;
    position: absolute;
    top: 14px;
    right: 91px;
    z-index: -1;
    margin-left: 37px;
    width: 89%;
  }
  .sw.sw-justified > .nav .nav-link,
  .sw.sw-justified > .nav > li {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
    width: 100%;
    display: inline-block;
  }
  .sw-theme-default > .nav {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    max-width: 600px;
  }
  .tab-content {
    padding-top: 45px;
    height: 100% !important;
  }
  .toolbar-bottom {
    text-align: center !important;
    border-top: 1px solid #e4f0ed;
    margin-top: 10px;
    padding-top: 25px !important;
  }
  .sw-btn-next {
    background-color: #069169 !important;
    color: white;
    min-width: 125px;
    padding: 5px 15px;
    border-radius: 20px !important;
  }
  .sw-btn-next:hover {
    background-color: #0d5850 !important;
    color: white !important;
  }
  .sw-btn-prev {
    border-radius: 20px !important;
    background-color: white !important;
    border: 1px solid #069169 !important;
    padding: 5px 15px;
    color: #069169 !important;
    min-width: 125px;
    opacity: 1 !important;
    margin-right: 20px !important;
  }
  .sw-btn-prev:hover {
    background-color: #069169 !important;
    color: white !important;
  }
}

@media (max-width: 768px) {
  #smartwizard ul li a {
    color: #0d5850 !important;
    font-weight: 600;
  }
  .sw-theme-default > .nav .nav-link.active::after {
    background: #0d5850 !important;
  }
  .toolbar-bottom {
    text-align: center !important;
  }
  .sw-btn-next {
    background-color: #069169 !important;
    color: white;
    min-width: 125px;
    padding: 5px 15px;
    border-radius: 20px !important;
  }
  .sw-btn-next:hover {
    background-color: #0d5850 !important;
    color: white !important;
  }
  .sw-btn-prev {
    border-radius: 20px !important;
    background-color: white !important;
    border: 1px solid #069169 !important;
    padding: 5px 15px;
    color: #069169 !important;
    min-width: 125px;
    opacity: 1 !important;
    margin-right: 20px !important;
  }
  .sw-btn-prev:hover {
    background-color: #069169 !important;
    color: white !important;
  }
  .card-beneficios {
    padding-right: 15px;
  }
  .card-usuario-institucional {
    padding-right: 15px;
  }
  .card-info-predial .border-card-predial {
    border-left: none;
    border-top: 1px solid #c1c1c1;
  }
}
/*# sourceMappingURL=estilos.css.map */