//Definicion de variables

$color-primario: #069169;
$color-secundario: #0d5850;
$color-terciario: #e4f0ed;
$color-cuarto: #006850;
$color-quinto: #dfebe9;
$color-sexto: #a80521;
$color-septimo: #bababa;
$color-octavo: #f1c158;
$color-noveno: #ffab00;

// $a-color: #158a6f;
// $b-color: #2e967d;
// $c-color: #33a584;
// $d-color: #f42e62;
// $e-color: #fff2fa;
// $f: #f3561f;
// $g-color: #004884;
// $h-uno: #3366cc;
// $i-dos: #3772ff;
// $white: #e6effd;

$primary-color: #333;

//Tipografia
$tipografia-general: "Work Sans", sans-serif;
$tipografia-titulos: "Montserrat", sans-serif;

$font-base-color: #4b4b4b;
$font-card-color: #707070;

//---------------------
html {
  font-size: 13px;
}

.bg-light {
  background: #3366cc !important;
}
.navbar-nav {
  a {
    color: white !important;
  }
}
.sub-menu {
  padding: 35px 15px;
}
.header-ico-minagricultura {
  border-left: 1px solid $color-primario;
  padding-left: 12px;
  margin-left: 12px;
}
.breadcrumb {
  margin-top: 25px;
  background-color: white;
  font-family: $tipografia-general;
  color: $color-primario;
  .active {
    color: $color-primario !important;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #6c757d;
  content: ">" !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
//--------------------------
// ---Seccion Botones------
//--------------------------
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn {
  border-radius: 20px;
  font-family: $tipografia-general;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.btn-base {
  background-color: $color-primario;
  color: white;
  min-width: 125px;
  padding: 5px 15px;
  display: inline-flex;
  justify-content: center;
  &:hover {
    background-color: $color-secundario;
    color: white;
  }
  i {
    padding-left: 15px;
    font-size: 1.4rem;
  }
}
.btn-contorno-base {
  background-color: white;
  border: 1px solid $color-primario;
  padding: 5px 15px;
  color: $color-primario;
  min-width: 125px;
  &:hover {
    background-color: $color-primario;
    color: white;
  }
}
.btn-link {
  color: $color-primario;
  text-decoration: underline;
  &:hover {
    color: $color-secundario;
  }
}
.btn-circular {
  position: relative;
  background-color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 23px;
  border: 1px solid $color-primario;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  &:hover {
    background-color: $color-primario;
    border: 1px solid white;
    i {
      color: white;
    }
  }
  i {
    color: $color-primario;
    font-size: 1.5rem;
  }
  span {
    position: absolute;
    top: -4px;
    right: -7px;
    background: $color-sexto;
    color: white;
    padding: 0 3px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
}

//--------------------------
// ----Custom tooltips------
//--------------------------
.tooltip-inner {
  background-color: #d8d8d8;
  opacity: 1;
  color: #484848;
  font-weight: 600;
}
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #d8d8d8 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #d8d8d8 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #d8d8d8 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #d8d8d8 !important;
}
//--------------------------

//--------------------------
// ---Seccion Tipografia----
//--------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $tipografia-titulos;
  color: $font-base-color !important;
}
p {
  color: $font-base-color;
  font-size: 1rem;
  font-family: $tipografia-general;
}
label {
  color: $font-base-color;
  font-family: $tipografia-general;
  font-weight: 400;
}
//--------------------------

//--------------------------
// ------Seccion Tags-------
//--------------------------
.badge-base {
  color: $color-cuarto;
  border: 2px solid $color-terciario;
  font-size: 1rem;
  font-family: $tipografia-general;
  padding: 4px 8px;
  min-width: 90px;
  border-radius: 150px;
  margin-right: 10px;
  font-weight: 500;
}
.badge-card {
  background-color: $color-octavo;
  color: #573f0c;
  border: 2px solid $color-octavo;
  font-size: 0.9rem;
  font-family: $tipografia-general;
  padding: 4px 8px;
  min-width: 90px;
  border-radius: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
//--------------------------

//--------------------------
// ---Seccion cards -------
//--------------------------

.card-info-predial {
  background-color: $color-terciario;
  border-radius: 0.25rem;
  padding: 20px;
  h5 {
    font-family: $tipografia-titulos;
    font-weight: 600;
  }
  .border-card-predial {
    border-left: 1px solid #c1c1c1;
  }
  p {
    color: $font-base-color;
    margin-bottom: 0;
    font-family: $tipografia-general;
    span {
      font-weight: 500;
    }
  }
  a {
    text-transform: uppercase;
    padding-right: 15px;
  }
}

.card-familiar {
  background-color: $color-terciario;
  border-radius: 0.25rem;
  padding: 20px;
  h5 {
    font-family: $tipografia-titulos;
    font-weight: 600;
  }
  .border-card-predial {
    border-left: 1px solid #c1c1c1;
  }
  p {
    color: $font-base-color;
    margin-bottom: 0;
    font-family: $tipografia-general;
    span {
      font-weight: 500;
    }
  }
  a {
    text-transform: uppercase;
    padding-right: 35px;
  }
}

// ---card resultado no encontrado--
.card-sin-encontrar {
  padding: 30px 15px;
  -webkit-box-shadow: 0px 5px 2px 0px rgba(206, 208, 209, 0.78);
  -moz-box-shadow: 0px 5px 2px 0px rgba(206, 208, 209, 0.78);
  box-shadow: 0px 5px 2px 0px rgba(206, 208, 209, 0.78);
  border: 1px solid rgba(0, 0, 0, 0.025);
  h3 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
  }
}

// ---card beneficios-------
.card-beneficios {
  padding-right: 0;
  margin-bottom: 50px;
  border-radius: 0.5rem;
  .card {
    border-radius: 9px;
    overflow: hidden;
    border: 1px solid $color-terciario;
  }
  .card-body {
    padding: 15px 25px 35px 25px;
    border: 1px solid $color-terciario;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    .badge-base {
      margin-bottom: 10px;
    }
    a {
      font-family: $tipografia-titulos;
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
      color: $font-card-color;
      font-weight: 500;
    }
  }
  &:hover {
    .card {
      -webkit-box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
      -moz-box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
      box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
    }
    .card-body {
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      border: 1px solid $color-primario;
      border-top: 1px solid $color-terciario;
    }
  }
}
//--------------------------

// ---card usuario institucional--
.card-usuario-institucional {
  padding-right: 0;
  margin-bottom: 50px;
  border-radius: 0.5rem;
  .card {
    border-radius: 9px;
    overflow: hidden;
  }
  .card-body {
    padding: 20px 25px 20px 35px;
    border: 1px solid $color-terciario;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    a {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  &:hover {
    .card {
      -webkit-box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
      -moz-box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
      box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
    }
    .card-body {
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      border: 1px solid $color-primario;
      border-top: 1px solid $color-terciario;
    }
  }
}

//--------------------------
//--------------------------

//-----Custom modals--------
.modal-content {
  .modal-header {
    border-bottom: 1px solid white;
  }
  .modal-footer {
    border-top: 1px solid white;
  }
}
.modal-header {
  height: 0;
}
.background-ico-info {
  margin: 0 auto;

  i {
    color: $color-noveno;
    font-size: 3rem;
  }
}
.background-ico-check {
  margin: 0 auto;

  i {
    color: $color-primario;
    font-size: 3rem;
  }
}
.background-ico-cancel {
  margin: 0 auto;

  i {
    color: $color-sexto;
    font-size: 3rem;
  }
}
.modal-body {
  padding: 40px;
}
//modals alertas 540px

//----Custom Alert-------
.alert {
  margin-bottom: 0;
}
.alert-check {
  display: flex;
  align-self: center;
  border: 1px solid $color-primario;
  p {
    color: $color-primario;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-left: 15px;
    font-weight: 500;
    font-family: $tipografia-general;
  }
  i {
    color: $color-primario;
    font-size: 2rem;
  }
}
.alert-info {
  display: flex;
  align-self: center;
  border: 1px solid $color-octavo;
  background: white;
  p {
    color: $color-octavo;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-left: 15px;
    font-weight: 500;
    font-family: $tipografia-general;
  }
  i {
    color: $color-octavo;
    font-size: 2rem;
  }
}
.alert-cancel {
  display: flex;
  align-self: center;
  border: 1px solid $color-sexto;
  background: white;
  p {
    color: $color-sexto;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-left: 15px;
    font-weight: 500;
    font-family: $tipografia-general;
  }
  i {
    color: $color-sexto;
    font-size: 2rem;
  }
}
//--------------------------
// ------Buscardor----------
//--------------------------
.contenedor-buscador {
  input {
    border-radius: 25px;
    position: relative;
    height: 40px;
    padding-left: 25px;
    padding-right: 45px;
    border: 2px solid $color-terciario;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
    box-shadow: 0px 4px 0px 0px rgba(212, 233, 229, 1);
  }
  .btn-circular {
    background: $color-primario;
    border-radius: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 18px;
    i {
      color: white;
      font-size: 1.4rem;
    }
    &:hover {
      border: 1px solid $color-primario;
      background-color: $color-secundario;
    }
  }
}
//--------------------------

//--------------------------
// ------Formularios--------
//--------------------------

select {
  position: relative;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

//estilos error del formulario
.invalid-feedback {
  color: $color-sexto;
  font-family: $tipografia-general;
  font-size: 0.9rem;
}
.text-error {
  color: $color-sexto;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border: 1px solid $color-sexto;
}
input::placeholder {
  font-family: $tipografia-general;
  color: #bababa;
}
.form-control.is-invalid {
  background-image: none;
}
//--------------------------

select {
  background-position: center right calc(1em + 0.1875rem) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  option {
    padding: 5px !important;
  }
}
select::-ms-expand {
  display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
.container-select {
  position: relative;
  i {
    position: absolute;
    font-size: 1.2rem;
    right: 15px;
    bottom: 5px;
    color: $color-primario;
  }
}

.form-check-label {
  padding-left: 5px;
  padding-top: 1px;
}

//--------------------------
// Custom Raddio Buttons----
//--------------------------
input[type="radio"] {
  //  display: none;
  visibility: hidden;
}
input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 5px;
  background-clip: content-box;
  border: 1px solid $color-primario;
  border-radius: 50%;
}
.form-check-label {
  display: flex;
  align-items: center;
}
input[type="radio"]:checked + label:before {
  background-color: $color-primario;
}
//--------------------------

//-------------------------
//custom checkBox ---------
//-------------------------
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid $color-primario;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: top;
}
input[type="checkbox"]:checked + label:before {
  background: $color-primario;
  color: white;
  content: "\2713";
  text-align: center;
}
//--------------------------

// custom datepicker ---------
.date-group {
  display: flex;
  align-items: center;
  span {
    color: $color-secundario;
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}

//-------------------------
// custom Table ---------
//-------------------------
table {
  th,
  td {
    font-family: $tipografia-general;
    font-size: 1rem;
    a {
      text-transform: uppercase;
    }
  }
  .thead {
    background: $color-quinto;
  }
  thead {
    color: $color-primario;

    th {
      font-weight: 500;
    }
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(246, 248, 249, 1);
}
.table-hover tbody tr:hover {
  background-color: #d5f3ee;
}
.dataTables_wrapper .paging_simple_numbers ul {
  justify-items: flex-start;
  li {
    a {
      color: $color-primario;
    }
    .page-link {
      border: none;
      color: $color-primario;
      background: white;
    }
  }
  .active {
    font-weight: 600;
  }
}
table.dataTable thead .sorting_desc:before {
  opacity: 0;
}
table.dataTable thead .sorting_asc:after {
  opacity: 0;
}
table.dataTable thead .sorting:before {
  opacity: 0;
}
//--------------------------

//-------------------
//custom Tabs--------
// //-------------------
.tabs-custom {
  .nav-tabs {
    border-bottom: none;
  }
  li {
    width: calc(100% / 4);
    a {
      font-family: $tipografia-titulos;
      color: $color-primario;
    }
  }
  .nav-tabs .nav-item {
    background-color: #f2f2f2;

    text-align: center;
    padding: 15px;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    font-family: $tipografia-titulos;
    color: $color-primario;
    background-color: #dbe6e4;
    border-bottom: 2px solid $color-primario;
    font-weight: 600;
    border-radius: 0;
  }
  nav a {
    font-family: $tipografia-titulos;
    color: $color-primario;
    padding: 10px;
  }
  .tab-content {
    display: block;
    border-left: 1px solid $color-quinto;
    border-bottom: 1px solid $color-quinto;
    border-right: 1px solid $color-quinto;
    padding: 25px;
  }
}
// Custom tabs responsive
#accordion {
  margin-bottom: 35px;
  .panel-default {
    padding: 20px;
    border: 1px solid $color-terciario;
    background: #f2f2f2;
    a {
      font-family: $tipografia-titulos;
      color: $color-primario;
    }
  }
  .panel-body {
    border-top: 2px solid #6db19d;
    padding-top: 10px;
    background: white;
    padding: 15px 5px;
    p {
      margin-bottom: 0;
    }
  }
}
//-------------------

@media (min-width: 640px) {
  //-----------------
  //custom Wizard----
  //-----------------
  .smartwizard {
    border: none;
    ul {
      li {
        width: 15px;
        height: 30px;
        p {
          border-radius: 6px;
        }
        span {
          color: $color-secundario;
          font-weight: 600;
          font-family: $tipografia-titulos;
          font-size: 0.7rem;
          padding-left: 0;
        }
      }
      //estilos ultima barra
      & li:last-child .nav-link.active::after {
        background: none !important;
        border: 0;
      }
      & li:last-child .nav-link.done::after {
        background: none !important;
        border: 0;
      }
      & li:last-child .nav-link::after {
        background: none !important;
        border: 0;
      }
    }
  }
  // estilos para los tres estados
  .sw-theme-default > .nav .nav-link.active {
    border: 15px;
    cursor: pointer;
    p {
      background: $color-cuarto !important;
      color: white !important;
      margin-bottom: 0;
      width: 24px;
      height: 25px;
    }
  }
  .sw-theme-default > .nav .nav-link.inactive {
    span {
      color: $color-secundario !important;
    }
    p {
      color: $color-secundario;
      margin-bottom: 0;
      font-weight: 600;
      width: 24px;
      height: 22px;
      border: 1px solid $color-terciario;
      text-align: center;
    }
  }
  .sw-theme-default > .nav .nav-link.done {
    span {
      color: #bababa !important;
    }
    p {
      background-color: #bababa;
      color: white;
      margin-bottom: 0;
    }
  }
  //barra de progreso para los dos estados
  .sw-theme-default > .nav .nav-link.active::after {
    border: 1px solid $color-terciario;
    background: white !important;
    height: 7px;
    position: absolute;
    top: 14px;
    right: 91px;
    z-index: -1;
    margin-left: 13px;
  }
  .sw-theme-default > .nav .nav-link.done::after {
    border: 1px solid $color-terciario;
    background: #bababa !important;
    height: 7px;
    position: absolute;
    top: 14px;
    right: 91px;
    z-index: -1;
    margin-left: 13px;
  }
  .sw-theme-default > .nav .nav-link::after {
    border: 1px solid $color-terciario;
    background: white !important;
    height: 7px;
    position: absolute;
    top: 14px;
    right: 91px;
    z-index: -1;
    margin-left: 37px;
    width: 89%;
  }
  //tamaño de los containers
  .sw.sw-justified > .nav .nav-link,
  .sw.sw-justified > .nav > li {
    flex-basis: 1;
    flex-grow: 1;
    text-align: left;
    width: 100%;
    display: inline-block;
  }
  .sw-theme-default > .nav {
    box-shadow: none !important;
    max-width: 600px;
  }
  .tab-content {
    padding-top: 45px;
    height: 100% !important;
  }
  .toolbar-bottom {
    text-align: center !important;
    border-top: 1px solid $color-terciario;
    margin-top: 10px;
    padding-top: 25px !important;
  }

  //ajuste Botones
  .sw-btn-next {
    background-color: $color-primario !important;
    color: white;
    min-width: 125px;
    padding: 5px 15px;
    border-radius: 20px !important;
    &:hover {
      background-color: $color-secundario !important;
      color: white !important;
    }
  }
  .sw-btn-prev {
    border-radius: 20px !important;
    background-color: white !important;
    border: 1px solid $color-primario !important;
    padding: 5px 15px;
    color: $color-primario !important;
    min-width: 125px;
    opacity: 1 !important;
    margin-right: 20px !important;
    &:hover {
      background-color: $color-primario !important;
      color: white !important;
    }
  }
  //-------------------
}

@media (max-width: 768px) {
  //custom wizard
  #smartwizard {
    ul li a {
      color: $color-secundario !important;
      font-weight: 600;
    }
  }
  .sw-theme-default > .nav .nav-link.active::after {
    background: $color-secundario !important;
  }
  .toolbar-bottom {
    text-align: center !important;
  }
  //ajuste Botones
  .sw-btn-next {
    background-color: $color-primario !important;
    color: white;
    min-width: 125px;
    padding: 5px 15px;
    border-radius: 20px !important;
    &:hover {
      background-color: $color-secundario !important;
      color: white !important;
    }
  }
  .sw-btn-prev {
    border-radius: 20px !important;
    background-color: white !important;
    border: 1px solid $color-primario !important;
    padding: 5px 15px;
    color: $color-primario !important;
    min-width: 125px;
    opacity: 1 !important;
    margin-right: 20px !important;
    &:hover {
      background-color: $color-primario !important;
      color: white !important;
    }
  }

  .card-beneficios {
    padding-right: 15px;
  }
  .card-usuario-institucional {
    padding-right: 15px;
  }
  //card información predial
  .card-info-predial {
    .border-card-predial {
      border-left: none;
      border-top: 1px solid #c1c1c1;
    }
  }
}
